.cards {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  margin-bottom: 50px;
}

.card {
  flex: flex;
  justify-content: space-between;
  width: 200px;
  border-radius: 4px;
  text-align: center;
  padding: 20px;
  box-shadow: 0 0 4px rgba(243, 113, 33, 0.9);
  margin: 20px 20px;
  align-items: center;
}

.card img {
  height: 100px;
}

